#POSTGRES_HOST=pg
POSTGRES_HOST=localhost
POSTGRES_DB=rag_outer_db
POSTGRES_USER=rag_outer_user
POSTGRES_PASSWORD=rag_outer_pwd_123!
POSTGRES_PORT_INNER=5432
POSTGRES_PORT_OUTER=5432

#REDIS_HOST=redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=rag_redis_pwd_123!

#QDRANT_HOST=qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333

OPENROUTER_CLIENT=open_router
OPENROUTER_API_KEY=sk*******75
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
LLM_MODEL=z-ai/glm-4.5-air:free
EMBEDDING_MODEL=perplexity/pplx-embed-v1-0.6b
VECTOR_SIZE=1024

CHUNK_SIZE=700
CHUNK_OVERLAP=150
TOP_K=3
COLLECTION_CACHE=collections